* {font-family: sans-serif}

h1 {color: maroon;}

label {
    font-weight: bold;
    font-size: 20px;
    color: maroon;
}

.error {
   color: red;
   font-weight: bold;
}

input[type=submit] {
    padding:15px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
}